<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.study.security.dao.AccountDao">

    <sql id="columnPk">
        A_ID
    </sql>

    <sql id="columnsExcludePk">
        A_NAME,
        A_PASSWORD,
        A_DESCRIPTION,
        A_STATE,
        A_CREATE_TIME
    </sql>

    <sql id="tableName">
        T_ACCOUNT
    </sql>

    <sql id="queryCommonWhere">
        <where>
            <if test="name != null">A_NAME=#{name}</if>
            <if test="password != null">A_PASSWORD=#{password}</if>
            <if test="description != null">A_DESCRIPTION=#{description}</if>
            <if test="state != null">A_STATE=#{state}</if>
            <if test="createTime != null">A_CREATE_TIME=#{createTime}</if>
        </where>
    </sql>
    
    <resultMap id="accountResultMap" type="Account">
        <id property="id" column="A_ID" javaType="Integer" />
        <result property="name" column="A_NAME" javaType="String" />
        <result property="password" column="A_PASSWORD" javaType="String" />
        <result property="description" column="A_DESCRIPTION" javaType="String" />
        <result property="state" column="A_STATE" javaType="Short" />
        <result property="createTime" column="A_CREATE_TIME" javaType="Date" />
    </resultMap>

    <insert id="insert" parameterType="Account" keyProperty="id" useGeneratedKeys="true"
            flushCache="true" timeout="20">
        insert into <include refid="tableName" /> (
          <include refid="columnsExcludePk" />
        )
        values
        (
          #{name},
          #{password},
          #{description},
          #{state},
          #{createTime}
        )
    </insert>

    <update id="update" parameterType="Account" flushCache="true" timeout="20">
        update <include refid="tableName" />
          <set>
              <if test="name != null">A_NAME=#{name},</if>
              <if test="password != null">A_PASSWORD=#{password},</if>
              <if test="description != null">A_DESCRIPTION=#{description},</if>
              <if test="state != null">A_STATE=#{state}</if>
          </set>
        where
        <include refid="columnPk" />=#{id}
    </update>

    <delete id="delete" parameterType="Integer" flushCache="true" timeout="20">
        delete from
        <include refid="tableName" />
        where
        <include refid="columnPk" />=#{id}
    </delete>

    <select id="queryById" parameterType="Integer" resultMap="accountResultMap">
        select
          <include refid="columnPk" />,
          <include refid="columnsExcludePk" />
        from
          <include refid="tableName" />
        where
          <include refid="columnPk" />=#{id}
    </select>

    <select id="count" parameterType="Map" resultType="Long">
        select count(1)
        from
        <include refid="tableName" />
        <where>
            <if test="name != null">A_NAME=#{name},</if>
            <if test="password != null">A_PASSWORD=#{password},</if>
            <if test="description != null">A_DESCRIPTION=#{description},</if>
            <if test="state != null">A_STATE=#{state},</if>
            <if test="createTime != null">A_CREATE_TIME=#{createTime}</if>
        </where>
    </select>

    <select id="query" parameterType="Map" resultType="List" resultMap="accountResultMap">
        select
        <include refid="columnPk" />,
        <include refid="columnsExcludePk" />
        from
        <include refid="tableName" />
        <include refid="queryCommonWhere" />
    </select>

    <select id="queryOne" parameterType="Map" resultMap="accountResultMap">
        select
        <include refid="columnPk" />,
        <include refid="columnsExcludePk" />
        from
        <include refid="tableName" />
        <include refid="queryCommonWhere" />
    </select>
</mapper>