<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias type="org.study.security.entity.Account" alias="Account" />
        <typeAlias type="org.study.security.vo.AccountValueObject" alias="AccountVo" />
        <typeAlias type="org.study.security.entity.Role" alias="Role" />
        <typeAlias type="org.study.security.entity.Resource" alias="Resource" />
    </typeAliases>

    <!-- 映射map -->
    <mappers>
    </mappers>

</configuration>